@import "reset.css";

body {
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #f6f9fc;
    padding:20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
    width:800px;
    height:800px;
    background-color: white;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.color-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.color-options label,
.color-option {
    width:50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    border:2px solid white;
    transition:transform ease-in-out .1s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.color-option:hover {    
    transform: scale(1.2) ;
}

#else-color{
    transform: scale(1.2) ;
}

input#color {
    background-color: white;
    display: none;
}

#text-preview,
button,
.btns label {
    all:unset;
    padding:10px 0px;
    text-align: center;
    background-color:royalblue;
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#text-preview{     
    background-color:white; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Line-Width-mark{
    padding:10px 15px;
    background-color:blueviolet;
}
button:hover {
    opacity: 0.85;
}

input#file {
    display: none;
}

input#text {
    all:unset;
    padding:10px 0px;
    border-radius: 10px;
    font-weight: 800;
    color: royalblue;
    text-align: center;
    background-color:white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.color-options label {
    margin-bottom: 30px;
}

#line-width-text{
    all:unset;
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
}
 
#line-width-text button {
    display: block;    
    padding:10px 10px;
    text-align: center;
    background-color:royalblue;    
    color:white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#line-width-display{ 
    height:18px;
    width: 20px;
    padding:10px 15px;    
    border-radius: 10px;
    font-weight: 500;
    color:royalblue ;
    text-align: center;
    background-color:white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}


#Line-Width-mark{
    display: block;    
    padding:10px 10px;
    text-align: center;
    background-color:blueviolet;
    color:white;
    font-weight: 500;    
    border-radius: 10px;
    transition: opacity linear .1s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

}
.btns span{
    padding-left: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.btns span input{
    all:unset;
    display: block;
    padding-right: 10px;
    width: 70px;
    height: 37px;
    border: none;
    border-radius: 10px;
    color: royalblue;
    font-weight: 800;
    text-align: center;
    background-color:white;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btns span input::placeholder,
input#text::placeholder{
    color: royalblue;
}

.btns span input::placeholder
{
    padding-left: 20px;
}

.btns span button{    
    display: block;
    width:120px;
}

